@import "~bootstrap/scss/bootstrap";
@import "_style.scss";

.modal {
  display: none;
  position: fixed;
  // background: black;
  top: 0;
  left: 300px;
  width: 100%;
  height: 100%;
}

.modal h3 {
  color: #000;
  font-size: 200px;
  font-style: bold;
  text-align: center;
  margin: 15px;
}

.cerrar {
  background: #FFF;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 6em;
  color: #fff;
  padding: 5px;
  border-radius: 100%;
}

